body {
    background-color: #d2d2d2;
}

form .invalid {
    color: red;
}

.fullsize {
    padding-left: 0px;
    padding-right: 0px;
}

/********************* navbar *****************/
.nav li form {
    padding-left: 10px;
    padding-right: 10px;
}

[readonly='readonly'] {
    background-color: inherit;
  }
  
  button:disabled {
      color:#717782;
  }